{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Latest Ads Listing Section Start -->
<section class="featured section-padding">
  <div class="container">
    
    <div class="row">
      
      {% if ads_search_result %}
        
        <!--contents-->
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
      <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
         <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Search Result for {{ searched }}</h2>
      </div> 
      <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {% for ad_search in ads_search_result %}
        <!--box-->
          <div class="text-center text-gray-500 dark:text-gray-400">
              <img class="mx-auto mb-4 w-36 h-36 rounded-lg" src=" {{ ad_search.img_link }}" alt="Bonnie Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#"> {{ ad_search.title }}</a>
              </h3>
              <p> {{ ad_search.author }}</p>
            <p> {{ ad_search.prize }} INR</p>
              <ul class="flex justify-center mt-4 space-x-4">
                <a href="{% url 'ads-detail' ad_search.id %}"><button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    View More
</button></a>
              </ul>
          </div>
        {% endfor %}
         <!--box-->
      {% else %}
        <div class="container">
          <div class="col-lg-12">
            <h4 class="text-center">Sorry! We didn't find any Classified Ads matching your query</h4>
          </div>
        </div>
      {% endif %}
      
    </div>
  </div>
</section>
<!-- Latest Ads Listing Section End -->


{% endblock content %}