{% extends "base.html" %}
{% load static %}
{% block content %}

<!--<!-- Category Archive Section 
<section class="featured section-padding">
  <div class="container">
    <h1 class="section-title">Classifieds by <span class="focus-keyword">{{ author.user }} </span></h1>
    <div class="row">
      {% if ads_by_author %}
      {% for ads in ads_by_author %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
          <div class="featured-box">
            
            <figure>
              <a href="{% url 'ads-detail' ads.id %}">
                  {% for img in ads.adsimages_set.all %}
                  {% if forloop.first %}
                      <img class="img-fluid" src="{{ img.image.url }}" alt="">
                  {% endif %}
                  {% endfor %}
              </a>
            </figure>
          
            <div class="feature-content">
              <h4><a href="{% url 'ads-detail' ads.id %}">{{ ads.title}}</a></h4>
              <span>Posted: {{ ads.date_created}}</span>
              <ul class="address">
                <li>
                  <i class="lni-map-marker"></i>{{ ads.state}}
                </li>
                <li>
                  <i class="lni-alarm-clock"></i>{{ ads.date_created | date}}
                </li>
                <li>
                  <i class="lni-user"></i>{{ ads.author }}
                </li>
                <li>
                  <i class="lni-package"></i>{{ ads.condition }}
                </li>
              </ul>
              <div class="listing-bottom">
                <h3 class="price float-left">$ {{ ads.price }}</h3>
                <p class="btn-verified float-right"><i class="lni-check-box"></i> Verified
                  Ad</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% else %}
        <div class="container">
          <div class="col-lg-12">
            <h4 class="text-center">Sorry! We didn't find any Classified in this Category</h4>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>-->
<!-- Category Archive Section End -->

<!-- component -->
<!-- Profile Card -->
<div>
   <div class="md:grid grid-cols-4 grid-rows-1  bg-white gap-2 p-4 rounded-xl">
        <div class="md:col-span-1 h-50 shadow-xl ">
                <div class="flex w-full h-full relative">
                    <img src="{{ request.user.author.profile_pic.url }}" class="w-44 h-44 m-auto" alt="">

                </div>
        </div>
        <div class="md:col-span-3 h-50 shadow-xl p-4 space-y-2 p-3">
                <div class="flex ">
                    <span
                        class="text-sm border bg-blue-50 font-bold uppercase border-2 rounded-l px-4 py-2 bg-gray-50 whitespace-no-wrap w-2/6">Name:</span>
                    <input 
                        class="px-4 border-l-0 cursor-default border-gray-300 focus:outline-none  rounded-md rounded-l-none shadow-sm -ml-1 w-4/6"
                        type="text" value="{{ user.username }}"  readonly/>
                </div>
                <div class="flex ">
                    <span
                        class="text-sm border bg-blue-50 font-bold uppercase border-2 rounded-l px-4 py-2 bg-gray-50 whitespace-no-wrap w-2/6">Email:</span>
                    <input 
                        class="px-4 border-l-0 cursor-default border-gray-300 focus:outline-none  rounded-md rounded-l-none shadow-sm -ml-1 w-4/6"
                        type="text" value="{{ user.email }}"  readonly/>
                </div>
                 <div class="flex ">
                    <span
                        class="text-sm border bg-blue-50 font-bold uppercase border-2 rounded-l px-4 py-2 bg-gray-50 whitespace-no-wrap w-2/6">Total Ads</span>
                    <input 
                        class="px-4 border-l-0 cursor-default border-gray-300 focus:outline-none  rounded-md rounded-l-none shadow-sm -ml-1 w-4/6"
                        type="text" value="{{ total_ads }}"  readonly/>
                </div>
           <div class="flex ">
                    <span
                        class="text-sm border bg-blue-50 font-bold uppercase border-2 rounded-l px-4 py-2 bg-gray-50 whitespace-no-wrap w-2/6">Featured Ads</span>
                    <input 
                        class="px-4 border-l-0 cursor-default border-gray-300 focus:outline-none  rounded-md rounded-l-none shadow-sm -ml-1 w-4/6"
                        type="text" value="{{ featured_ads }}"  readonly/>
                </div>
        </div>
        <!--<div class="md:col-span-3 h-48 shadow-xl p-4 space-y-2 hidden md:block">
            <h3 class="font-bold uppercase"> Profile Description</h3>
            <p class=""> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget laoreet diam, id luctus lectus. Ut consectetur nisl ipsum, et faucibus sem finibus vitae. Maecenas aliquam dolor at dignissim commodo. Etiam a aliquam tellus, et suscipit dolor. Proin auctor nisi velit, quis aliquet sapien viverra a. 
            </p>
        </div>-->
            
    </div>
</div>
{% if ads_by_user %}
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    <span class="sr-only">Image</span>
                </th>
                <th scope="col" class="py-3 px-6">
                    Event
                </th>
                <th scope="col" class="py-3 px-6">
                    Status
                </th>
                <th scope="col" class="py-3 px-6">
                    Prize
                </th>
                <th scope="col" class="py-3 px-6">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
          
      {% for ads in ads_by_user %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <!--item-->
                <td class="p-4 w-32">
                    <img src="{{ ads.img_link }}" alt="{{ ads.title }}">
                </td>
                <td class="py-4 px-6 font-semibold text-gray-900 dark:text-white">
                    {{ ads.title }}
                </td>
                <td class="py-4 px-6">
                    <div class="flex items-center space-x-3">
                        {% if ads.is_active %}
                      <span class="adstatus adstatusactive">Active</span>
                      {% else %}
                      <span class="adstatus adstatusinactive">Inactive</span>
                      {% endif %}
                    </div>
                </td>
                <td class="py-4 px-6 font-semibold text-gray-900 dark:text-white">
                    {{ ads.prize }}
                </td>
               {% if user.is_authenticated %}
                <td class="py-4 px-6">
                    <!--<a href="{% url 'ads-update' pk=ads.pk %}" class="font-medium text-blue-600 dark:text-red-500 hover:underline">Edit</a>-->
                  <a href="{% url 'ads-delete' pk=ads.pk %}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Remove</a>
                </td>
              {% else %}
               <td class="py-4 px-6">
                    <!--<a href="{% url 'ads-update' pk=ads.pk %}" class="font-medium text-blue-600 dark:text-red-500 hover:underline">Edit</a>-->
                  <a href="{% url 'ads-delete' pk=ads.pk %}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Remove</a>
                </td>
              {% endif %}
              <!--item-->
              
            </tr>
           {% endfor %}
            </tr>
        </tbody>
    </table>
  {% endif %}
</div>
<!-- Pagination-->

<div class="flex flex-col items-center">
  {% if ads_by_user.has_previous %}
  <!-- Buttons -->
  <div class="inline-flex mt-2 xs:mt-0">
      <a href="?page={{ads_by_user.previous_page_number }}"><button class="py-2 px-4 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          Prev
      </button>
      </a>
    {% endif %}
    {% if ads_by_user.has_next %}
       <a href="?page={{ads_by_user.next_page_number }}"><button class="py-2 px-4 text-sm font-medium text-white bg-gray-800 rounded-r border-0 border-l border-gray-700 hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          Next
      </button></a>
  </div>
</div>
{% endif %}
{% endblock content %}