{% load static %}
<!--VISITORS COUNT-->
<footer>
    <div class="section section-5">
      <div class="visit-count">
        
        <div id="count">0</div>
        <div class="visit-tag">Visited</div>
      </div>  
    </div>
    <!--END VISITORS COUNT-->
    
    <!--FOOTER-->
    <div class="footer">
      <div class="social-icons">
        <!--WHATSAPP-->
        <a href="https://chat.whatsapp.com/JZyo79x2MPF5QcjyV7Ek6a" target="_blank">
        <!--END WHATSAPP-->
            <div class="fab-class fab-whatsapp">
              <i id="whatsapp-icn" class="fab fa-whatsapp"></i>
            </div>
        </a>
        <!--INSTAGRAM-->
        <a href="https://instagram.com/_esportsdaily_?igshid=1xifmsei6shk6" target="_blank">
        <!--END INSTAGRAM-->
            <div class="fab-class fab-instagram">
              <i id="instagram-icn" class="fab fa-instagram"></i>
            </div>
        </a>
        <!--FACEBOOK-->
        <a href="https://www.facebook.com/ESports-Daily-105646001496738/" target="_blank">
        <!--END FACEBOOK-->
            <div class="fab-class fab-facebook">
              <i id="facebook-icn" class="fab fa-facebook"></i>
            </div>
        </a>
        <!--DISCORD-->
        <a href="https://discord.gg/4b2E6DPdSC" target="_blank">
        <!--END DISCORD-->
            <div class="fab-class fab-discord">
              <i id="discord-icn" class="fab fa-discord"></i>
            </div>
        </a>
      </div>
    </div>
  </div>
  <!-- SCRIPT -->
  <script src="{% static 'js/scriptnew.js' %}"></script>
  <!--END SCRIPT-->
</footer>